# common overrides for `/src/main/resources/application.yaml`
HEARING_NEXT_DAY_CRON_JOB_PROCESSING_ENABLED=true
# Local application credentials; supply these when creating the file.
CCD_NEXT_HEARING_DATE_UPDATER_SERVICE_IDAM_CLIENT_SECRET=replace-with-service-idam-client-secret
IDAM_NEXT_HEARING_DATE_SYSTEM_USER=replace-with-system-user-username
IDAM_NEXT_HEARING_DATE_SYSTEM_PASSWORD=replace-with-system-user-password
IDAM_KEY_NEXT_HEARING_UPDATER=replace-with-s2s-secret

# BEFTA config
BEFTA_RESPONSE_HEADER_CHECK_POLICY=JUST_WARN
BEFTA_S2S_CLIENT_ID=ccd_gw
BEFTA_S2S_CLIENT_SECRET=replace-with-befta-s2s-client-secret
BEFTA_S2S_CLIENT_ID_OF_XUI_WEBAPP=xui_webapp
BEFTA_S2S_CLIENT_SECRET_OF_XUI_WEBAPP=replace-with-xui-s2s-client-secret
BEFTA_OAUTH2_CLIENT_ID_OF_XUIWEBAPP=xuiwebapp
BEFTA_OAUTH2_CLIENT_SECRET_OF_XUIWEBAPP=replace-with-xui-oauth2-client-secret
BEFTA_OAUTH2_REDIRECT_URI_OF_XUIWEBAPP=http://localhost:3333/oauth2/callback
BEFTA_OAUTH2_ACCESS_TOKEN_TYPE_OF_XUIWEBAPP=OIDC
BEFTA_OAUTH2_SCOPE_VARIABLES_OF_XUIWEBAPP=profile openid roles
# NB: legacy config for def file import
CCD_API_GATEWAY_S2S_ID=ccd_gw
CCD_API_GATEWAY_S2S_KEY=replace-with-ccd-api-gateway-s2s-key
CCD_API_GATEWAY_OAUTH2_CLIENT_ID=ccd_gateway
CCD_API_GATEWAY_OAUTH2_CLIENT_SECRET=replace-with-ccd-api-gateway-oauth2-client-secret
CCD_API_GATEWAY_OAUTH2_REDIRECT_URL=http://localhost:3451/oauth2redirect
# BEFTA users
DEFINITION_IMPORTER_USERNAME=auto.test.cnp@gmail.com
DEFINITION_IMPORTER_PASSWORD=replace-with-definition-importer-password
CCD_BEFTA_MASTER_CASEWORKER_PWD=replace-with-master-caseworker-password
# BEFTA URLs
IDAM_API_URL_BASE=http://localhost:5000
S2S_URL_BASE=http://localhost:4502
DEFINITION_STORE_URL_BASE=http://localhost:4451
CCD_DATA_STORE_API_BASE_URL=http://localhost:4452
# NB: should be overriden by `.env.test.stub.service.env` if using bootWithCcd 
TEST_STUB_SERVICE_BASE_URL=http://host.docker.internal:5555
